<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>520660730900-t5til2874h9ssq6928o91l57m35m6nnc.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.520660730900-t5til2874h9ssq6928o91l57m35m6nnc</string>
	<key>API_KEY</key>
	<string>AIzaSyCLvoXPS6k6CnDE4nTcPRI8dsRuDPBI-Gg</string>
	<key>GCM_SENDER_ID</key>
	<string>520660730900</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.instagramApps</string>
	<key>PROJECT_ID</key>
	<string>instagram-flutter-clone-b225c</string>
	<key>STORAGE_BUCKET</key>
	<string>instagram-flutter-clone-b225c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:520660730900:ios:8cd58bbb1a5a15b3479301</string>
</dict>
</plist>